version: "3"
services:
  app:
    container_name: nodejs
    restart: always
    build: .
    ports:
    - '80:3000'
    depends_on:
    - mongo
  mongo:
    container_name: mongodb
    image: mongo
    ports:
    - '27017:27017'
